/* Import font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


#accordionCheckout, checkout-main {
    display: none;
}

body {
    font-family: 'Lato', sans-serif;

}

.header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2rem;
}
  
.header-logo:hover {
    text-decoration: none;
}

.hero {
    /* background: rgba(0, 123, 255, 0.9);  */
    /* background-image: linear-gradient(135deg, rgba(0, 123, 255, 0.9) 25%, transparent 25%, transparent 50%, rgba(0, 123, 255, 0.9) 50%, rgba(0, 123, 255, 0.9) 75%, transparent 75%, transparent); */
    background: url('/assets/images/joanna-kosinska-mjC9apK53a8-unsplash.jpg')no-repeat center center;
    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}
/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}