#accordionCheckout, checkout-main {
    display: none;
}

.header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2rem;
}
  
.header-logo:hover {
    text-decoration: none;
}

/* Background color to hero div */
.hero-body {
    background: rgba(0, 123, 255, 0.9); 
    background-image: linear-gradient(135deg, rgba(0, 123, 255, 0.9) 25%, transparent 25%, transparent 50%, rgba(0, 123, 255, 0.9) 50%, rgba(0, 123, 255, 0.9) 75%, transparent 75%, transparent);

}

.cursor {
    cursor: pointer;
}

/* The main content wrapper */
#checkout-main {
    flex: 1; /* Allow the main content to grow and push the footer down */
}

