#accordionCheckout, checkout-main {
    display: none;
}

.header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2rem;
}
  
.header-logo:hover {
    text-decoration: none;
}

/* Background color to hero div */
.hero-body {
    background: rgba(0, 123, 255, 0.9); 
    background-image: linear-gradient(135deg, rgba(0, 123, 255, 0.9) 25%, transparent 25%, transparent 50%, rgba(0, 123, 255, 0.9) 50%, rgba(0, 123, 255, 0.9) 75%, transparent 75%, transparent);

}

.cursor {
    cursor: pointer;
}

/* The main content wrapper */
#checkout-main {
    flex: 1; /* Allow the main content to grow and push the footer down */
}

/* Product tile react on haver */
.product-tile {
    position: relative;
    overflow: hidden;
}

.product-tile img {
    width: 100%;
    transition: transform 0.3s ease;
}

.product-tile:hover img {
    transform: scale(1.1);
}

.product-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Tint */
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-tile:hover .product-info {
    opacity: 1;
}